@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

body {

    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-family: "Afacad", sans-serif !important;
    font-size: 20px;
}

.indexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    color: white;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

.menu,
.auth {
    list-style: none;
    display: flex;
    gap: 20px;
    display: flex;

}

.menu a,
.auth a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Afacad", sans-serif;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search select,
.search input {
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.hero {
    background: url(../img/banner.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 280px 0;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    max-width: 600px;
    font-size: 1.2em;
    line-height: 1.6;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.logo img {
    width: 70px;
}

.logo span {
    font-size: 1.3em;
    color: white;
}

.menuzinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;

}

.menu,
.auth {
    gap: 100px;
}

.search {
    gap: 30px;
}

/* Profissionais */

.profissionais {
    text-align: center;
    padding: 40px 0;
}

.profissionais h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profissional-card {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profissional {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.foto {
    width: 100%;
    height: 150px;
    background-color: #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

.info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.foto img {
    width: 250px;
    height: 150px;
}

/* Especialidades */

.container {
    text-align: center;
}

.container h1 {
    font-size: 40px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    height: 400px;
    width: 300px;
    background: linear-gradient(135deg, #007bff, #0056b3);
    border-radius: 15px;
    padding: 10px;
    color: white;
    text-align: center;
    justify-items: center;
    font-weight: bold;
    box-shadow: 0 12px 8px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}


.card img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid black;
}

.card p {
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    width: 80%;
}

.card h1 {
    color: aliceblue;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 10px;

}

.especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 40px 0;
}

/* Sobre nós */

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
}

.responsive-container-block.bigContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.text-blk.headingText {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(0, 135, 177);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 50%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.text-blk.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.text-blk.description {
    font-size: 18px;
    line-height: 28px;
    color: rgb(153, 153, 153);
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.explore {
    font-size: 18px;
    line-height: 28px;
    color: white;
    background-color: #007bff;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: rgb(244, 152, 146);
    border-right-color: rgb(244, 152, 146);
    border-bottom-color: rgb(244, 152, 146);
    border-left-color: rgb(244, 152, 146);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
    box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 9px;
    padding-right: 45px;
    padding-bottom: 9px;
    padding-left: 45px;
}

.explore:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 235, 234);
    color: rgb(244, 152, 146);
}

.responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
    flex-direction: row;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.allText.aboveText {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.allText.bottomText {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.mainVideo {
    width: 85%;
    height: 450px;
    margin-top: -30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.videoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    padding-top: 70px;
    padding-right: 0px;
    padding-bottom: 0px;
    /* padding-left: 111px;*/
}

.mainVideo {
    z-index: 10;
}

.dotsImg {
    position: absolute;
    width: 80%;
    height: 600px;
    top: 0px;
    right: 0px;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .responsive-container-block.Container {
        max-width: 850px;
    }

    .text-blk.description {
        font-size: 18px;
    }

    .allText {
        width: 40%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    .responsive-container-block.bigContainer {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .text-blk.subHeadingText {
        font-size: 30px;
    }

    .responsive-container-block.Container.bottomContainer {
        margin-top: -20px;
        margin-right: auto;
        margin-bottom: -10px;
        margin-left: auto;
    }

    .responsive-container-block.Container {
        max-width: 830px;
    }

    .allText.aboveText {
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 40px;
    }

    .allText.bottomText {
        margin-top: 30px;
        margin-right: 40px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .allText.bottomText {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .responsive-container-block.Container.bottomContainer {
        flex-direction: column;
    }

    .text-blk.headingText {
        text-align: center;
        font-size: 22px;
    }

    .text-blk.subHeadingText {
        text-align: center;
    }

    .text-blk.description {
        text-align: center;
    }

    .explore {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    #inc0s {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    .dotsImg {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .videoContainer {
        width: 100%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .mainVideo {
        width: 100%;
    }

    .allText.bottomText {
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 60px;
        margin-left: 0px;
    }

    .text-blk.description {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .text-blk.headingText {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .text-blk.subHeadingText {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .mainVideo {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .allText {
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .responsive-container-block.Container {
        flex-direction: column;
        height: auto;
    }

    .text-blk.headingText {
        text-align: center;
    }

    .text-blk.subHeadingText {
        text-align: center;
        font-size: 28px;
        line-height: 38px;
    }

    .text-blk.description {
        text-align: center;
        font-size: 18px;
        line-height: 27px;
    }

    .allText {
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .allText.aboveText {
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .responsive-container-block.Container {
        margin-top: 80px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;
    }

    .responsive-container-block.Container.bottomContainer {
        margin-top: 50px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
    }

    .allText.bottomText {
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .allText.bottomText {
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 60px;
        margin-left: 0px;
    }

    .mainVideo {
        height: 400px;
    }

    .videoContainer {
        height: 550px;
    }

    .explore {
        font-size: 16px;
        padding-top: 8px;
        padding-right: 40px;
        padding-bottom: 8px;
        padding-left: 40px;
    }

    .responsive-container-block.bigContainer {
        padding-top: 0px;
        padding-right: 50px;
        padding-bottom: 0px;
        padding-left: 50px;
    }
}

@media (max-width: 500px) {
    .responsive-container-block.Container {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        width: 100%;
        max-width: 100%;
    }

    .responsive-container-block.bigContainer {
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
    }

    .allText {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 100%;
    }

    .responsive-container-block.bigContainer {
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .explore {
        font-size: 16px;
        line-height: 25px;
        padding: 8px 35px 8px 35px;
    }

    .dotsImg {
        width: 80%;
        height: 100%;
    }

    .mainVideo {
        height: 260px;
    }

    .videoContainer {
        height: 320px;
    }

    .responsive-container-block.Container.bottomContainer {
        padding: 0 0 0 0;
    }

    .text-blk.description {
        font-size: 16px;
        line-height: 23px;
        margin: 0 0 30px 0;
    }

    .text-blk.subHeadingText {
        font-size: 24px;
    }
}

/* Rodapé */

.pg-footer {
    font-family: "Afacad", sans-serif !important;
}

.footer {
    background-color: #004658;
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:480px) and (max-width:599px) {

    /* smartphones, Android phones, landscape iPhone */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:600px) and (max-width: 800px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }

    .footer-wave-svg {
        height: 50px;
    }

    .footer-content-column {
        width: 24.99%;
    }
}

@media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
}