.palmeiras {

    display: flex;
    flex-direction: row;
    justify-content: end;


}

.box {
    margin-right: 50px;
}

.nome {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.caixa {
    margin-top: 10px;
    height: 60px;
    width: 1500px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

.bola {
    height: 15px;
    width: 15px;
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(237, 239, 241);
}

.velho {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 700px;
    background-image: url("/assets/img/Rectangle\ 50.png");
}