
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

body {
    
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding-top: 20px; 
}

.indexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
   
    color: white;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

.menu, .auth {
    list-style: none;
    display: flex;
    gap: 20px;
    display: flex;

}

.menu a, .auth a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Afacad", sans-serif;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search select, .search input {
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.hero {
    height: 100vh;
    background: url(../img/banner.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    max-width: 600px;
    font-size: 1.2em;
    line-height: 1.6;
}

.menuzinho{
    display: flex;
    justify-content: space-between;
}

.site{
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    
}

.menu, .auth{
    gap: 100px;
}

.search{
    gap: 30px;
}